.photoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    
}
.photoForm {
    padding: 24px;
    display: flex;
    width:100vh;
    height:80vh;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: #EEEEEE;
    color: black;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

}

#captionBox {
    width:400px;
    height: 100px;
    margin: 30px 0px;
}

#john{
    margin: 10px 0px;
    max-width:250px;
    border-radius: 10px;

}

#btnShare {
    width:150px;
    height:50px;
    font-size: 10pt;
    color: #666;
    margin: 10px 2px;
}

#newPost {
    color: #666;
}